{% extends 'layout.html.twig' %}

{% block page_title %}Heute ist der {{ currentDate.format }}{% endblock %}

{% block page_title_actions %}
    <div class="col-auto ms-auto d-print-none">
        <div class="btn-list">
            <a href="#" class="btn d-none d-sm-inline-block">
                {{ ux_icon('tabler:file-plus') }} Neue Veranstaltung
            </a>
            <a href="#" class="btn d-none d-sm-inline-block">
                {{ ux_icon('tabler:file-plus') }} Medium Verknüpfen
            </a>
            <a href="#" class="btn d-none d-sm-inline-block">
                {{ ux_icon('tabler:file-plus') }} Suchen
            </a>
        </div>
    </div>
{% endblock %}

{% block page_content %}

{# Fetch current month from calendar #}
    {% set currentMonth = calendar.getMonthOfTheYear(currentDate.month) %}

    <div class="container-xl">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{{ currentMonth.name }} {{ currentDate.year }}</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-vcenter table-bordered text-center">
                        <thead>
                            <tr>
                                <th>Fra</th>
                                <th>Fu</th>
                                <th>Fue</th>
                                <th>Fisu</th>
                                <th>FooBar</th>
                                <th>Fra</th>
                                <th>Fu</th>
                                <th>Fue</th>
                                <th>Fisu</th>
                                <th>FooBar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% set dates = currentMonth.daysInYear(currentDate.year) %}
                            {% for week in dates|batch(10) %}
                                <tr>
                                    {% for date in week %}
                                        <td class="{% if date.day == currentDate.day %}bg-primary-subtle{% endif %}">
                                            {% if date.isLeapDay %}
                                                <div class="text-muted small">
                                                    {{ date.format }}
                                                </div>
                                            {% else %}
                                                {{ date.day }}
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
