{% extends 'layout.html.twig' %}

{% block page_title %}{{ viewDate.format('%M %Y') }}{% endblock %}

{% block page_title_actions %}
    <div class="col-auto ms-auto d-print-none">
        <div class="btn-list">
            {# Add month navigation buttons #}
            <div class="btn-group me-2">
                <a href="{{ path('calendar', {'year': viewDate.year, 'month': viewDate.month - 1}) }}" class="btn">
                    {{ ux_icon('tabler:chevron-left') }}
                </a>
                <a href="{{ path('calendar') }}" class="btn">
                    {{ ux_icon('tabler:calendar-due') }}Heute
                </a>
                <a href="{{ path('calendar', {'year': viewDate.year, 'month': viewDate.month + 1}) }}" class="btn">
                    {{ ux_icon('tabler:chevron-right') }}
                </a>
            </div>

            {# Add view navigation buttons #}
            <div class="btn-group me-2">
                <a href="{{ path('settings_calendar_add_days', {'days': 1}) }}" class="btn btn-outline-secondary">+ 1 Tag</a>
                <a href="{{ path('settings_calendar_sub_days', {'days': 1}) }}" class="btn btn-outline-secondary">- 1 Tag</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_content %}
    {{ component('Calendar:Table', {calendar: calendar, currentDate: currentDate, viewDate: viewDate}) }}
{% endblock %}
