{% extends 'layout.html.twig' %}

{% block page_title %}Mechthilds Atelier - {{ request.title }}{% endblock %}

{% block page_title_actions %}
    <div class="col-auto ms-auto d-print-none">
        <div class="btn-list">
            <a href="{{ path('image_generator_overview') }}" class="btn d-none d-sm-inline-block">
                {{ ux_icon('tabler:photo-ai') }} Zurück zur Übersicht
            </a>
        </div>
    </div>
{% endblock %}

{% block page_content %}

    <div class="container-xl">

        <div class="row">
            {{ component('ImageGenerator:Prompt', { initialFormData: request }) }}
        </div>

        <div class="row">
            {{ component('ImageGenerator:Images', { generatorRequest: request }) }}
        </div>

    </div>

{% endblock %}
