{% if message.extended.message.role.value == 'assistant' %}
    {{ _self.bot(conversation, message) }}
{% else %}
    {{ _self.user(conversation, message) }}
{% endif %}

{% macro bot(conversation, content) %}
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{{ content.role }}</h3>
                <div class="card-actions btn-actions">
                    <a href="{{ path('library_document_create', {'conversation': conversation.id, 'conversation_message': content.extended.id}) }}" title="Dokument erstellen" class="btn-action">
                        {{ ux_icon('tabler:file-plus') }}
                    </a>
                </div>
            </div>
            <div class="card-body">
                {{ content.message|markdown_to_html }}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro user(conversation, content) %}
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{{ content.role }}</h3>
            </div>
            <div class="card-body chatbot-message">
                {{ content.message|markdown_to_html }}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro loading(role, content, loadingId, isAssistant = false) %}
    <div id="{{ loadingId }}" class="col-12 d-none">
        <div class="card placeholder-glow">
            <div class="card-header">
                <h3 class="card-title">{{ role }}</h3>
            </div>
            <div class="card-body message">
                {% if isAssistant %}
                    <div class="d-flex">
                        <div class="spinner-border"></div>
                        <div class="p-1" style="margin-left: 5px;"><i>{{ content }}</i></div>
                    </div>
                {% else %}
                    {{ content }}
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}
