{% if message.extended.message.role.value == 'assistant' %}
    {{ _self.bot(conversation, message) }}
{% else %}
    {{ _self.user(conversation, message) }}
{% endif %}

{% macro bot(conversation, content) %}
    <div class="col-12" id="message-{{ content.extended.id }}" data-message-id="{{ content.extended.id }}">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{{ content.role }}</h3>
                <div class="card-actions btn-actions">
                    <a href="{{ path('library_document_create', {'conversation': conversation.id, 'conversation_message': content.extended.id}) }}" title="Dokument erstellen" class="btn-action">
                        {{ ux_icon('tabler:file-plus') }}
                    </a>
                </div>
            </div>
            <div class="card-body chatbot-message">
                {{ content.message|markdown_to_html }}
                {% if settings_handler.get.chatbotFunctions.allowDebugOutput and content.extended.debug.functions is defined and content.extended.debug.functions is not empty %}
                    {{ _self.bot_debug_output(content.extended.id, content.extended.debug.functions) }}
                {% endif %}

                {{ _self.bot_used_context(content.extended.id, content) }}
            </div>
        </div>
    </div>


{% endmacro %}

{% macro user(conversation, content) %}
    <div class="col-12" id="message-{{ content.extended.id }}" data-message-id="{{ content.extended.id }}">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{{ content.role }}</h3>
            </div>
            <div class="card-body">
                {{ content.message|markdown_to_html }}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro loading(role, content, loadingId, isAssistant = false) %}
    <div id="{{ loadingId }}" class="col-12 d-none">
        <div class="card placeholder-glow">
            <div class="card-header">
                <h3 class="card-title">{{ role }}</h3>
                {% if isAssistant %}
                    <div class="card-actions btn-actions d-none">
                        <a href="#" title="Dokument erstellen" class="btn-action takeover-document">{{ ux_icon('tabler:file-plus') }}</a>
                    </div>
                {% endif %}
            </div>
            <div class="card-body message">
                {% if isAssistant %}
                    <div class="d-flex">
                        <div class="spinner-border"></div>
                        <div class="p-1" style="margin-left: 5px;"><i>{{ content }}</i></div>
                    </div>
                {% else %}
                    {{ content }}
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro bot_debug_output(conversationId, debug) %}
    <div class="hr-text text-warning">GPT Functions Debugging Ausgaben</div>
    <div class="accordion" id="debug-tool-calls-{{ conversationId }}">
        {% for index, call in debug %}
            <div class="accordion-item">
                <button class="accordion-header collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#debug-collapse-{{ conversationId ~ '-' ~ index }}" aria-expanded="true">
                    <div class="accordion-header-text"><h4>Aufgerufene Funktion: {{ call.tool }}</h4></div>
                    <div class="accordion-header-toggle">{{ ux_icon('tabler:chevron-down', {'class': 'icon icon-1'}) }}</div>
                </button>

                <div id="debug-collapse-{{ conversationId ~ '-' ~ index }}" class="accordion-collapse collapse" data-bs-parent="#debug-tool-calls-{{ conversationId }}" style="">
                    <div class="accordion-body pt-0">
                        <pre>{{ call.arguments|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
                        <pre>{{ call.result|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro bot_used_context(conversationId, content) %}
    {% set showDocuments = settings_handler.get.chatbotGeneral.showReferencedDocuments %}
    {% set showImages = settings_handler.get.chatbotGeneral.showReferencedImages %}

    {% set documents = showDocuments is same as(false) ? {} : content.extended.context.documents %}
    {% set images = showImages is same as (false) ? {} : content.extended.context.images %}

    {% if (showDocuments and documents is not empty) or (showImages and images is not empty) %}
        <div class="hr-text text-warning">GPT Functions Used Information</div>
        <div class="accordion" id="debug-additional-information-{{ conversationId ~ '-' ~ content.extended.id }}">
            <div class="accordion-item">
                <button class="accordion-header collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-debug-additional-information-{{ conversationId ~ '-' ~ content.extended.id }}" aria-expanded="true">
                    <div class="accordion-header-text"><h4>Ausgewertete Informationen</h4></div>
                    <div class="accordion-header-toggle">{{ ux_icon('tabler:chevron-down', {'class': 'icon icon-1'}) }}</div>
                </button>

                <div id="collapse-debug-additional-information-{{ conversationId ~ '-' ~ content.extended.id }}" class="accordion-collapse collapse" data-bs-parent="#heading-debug-additional-information-{{ conversationId ~ '-' ~ content.extended.id }}" style="">
                    <div class="accordion-body pt-0">
                        <div class="row row-cards">
                            {% if documents is not empty %}
                                {{ _self.bot_used_references(documents, (images is empty ? '12' : '6')) }}
                            {% endif %}
                            {% if images is not empty %}
                                {{ _self.bot_used_references(images,  (documents is empty ? '12' : '6')) }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro bot_used_references(references, cols = 6) %}
    {% if references is not empty %}
        <div class="col-{{ cols }}">
            <div class="card">
                <div class="list-group list-group-flush">
                    {% for reference in references %}
                        {% if reference.type is same as ('document') %}
                            <a href="{{ path('library_document_view', {'document': reference.id}) }}" class="list-group-item list-group-item-action">{{ reference.title }}</a>
                        {% else %}
                            <a href="{{ path('library_image_view', {'image': reference.id}) }}" class="list-group-item list-group-item-action">{{ reference.title }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}
