<div {{ attributes }}>
    {{ form_start(form, {
        attr: {
            'data-action': 'live#action:prevent',
            'data-live-action-param': 'store'
        }
    }) }}

    <div class="modal-header">
        <h3 class="modal-title">Gespräch Speichern</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body">
        {{ form_row(form.title, {'attr': {'data-loading': 'addAttribute(disabled)'}}) }}
        {{ form_row(form.directory, {'attr': {'data-loading': 'addAttribute(disabled)'}}) }}
    </div>

    <div class="modal-footer">
        <button
            class="btn btn-primary"
            type="submit"
            data-loading="addAttribute(disabled)"
        >
            <span class="spinner-border spinner-border-sm d-none" data-loading="removeClass(d-none)" role="status" aria-hidden="true" style="margin-right: 5px;"></span>
            Speichern
        </button>
    </div>

    {{ form_end(form) }}
</div>
