{% extends 'layout.html.twig' %}

{% block page_title %}Registratur - Eintrag erstellen{% endblock %}

{% block page_content %}
    <div class="container-xl">
        <div class="row row-deck row-cards">
            <div class="col-sm-12">
                <div class="card">
                    <form action="{{ path('world_item_create') }}" method="post">
                        <div class="card-body">
                            <div class="row g-5">
                                {{ form_row(form.type) }}
                                {{ form_row(form.name) }}
                                {{ form_row(form.shortDescription) }}
                            </div>
                        </div>
                        <div class="card-footer text-end">
                            {{ component(
                                'Form:FotterButtonGroup',
                                {'cancelLink': path('world_item_listing')}
                            ) }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
