{% extends 'layout.html.twig' %}

{% block page_title %}Datenbank{% endblock %}

{% block page_title_actions %}
    <div class="col-auto ms-auto d-print-none">
        <div class="btn-list">
            <a href="{{ path('world_item_create') }}" class="btn d-none d-sm-inline-block">
                {{ ux_icon('tabler:database-plus') }}Eintrag erstellen
            </a>
        </div>
    </div>
{% endblock %}

{% block page_content %}

    <div class="container-xl">
        <div class="row row-deck row-cards">
            <div class="row-sm-12">
                <div class="card card-borderless">
                    <div class="card-body">
                        Suchen ...
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="card">
                    <div class="card-table table-responsive">
                        <table class="table table-vcenter">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Typ</th>
                                <th class="w-8">&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>

                                {% for item in items %}

                                    <tr>
                                        <td>{{ item.name }}</td>
                                        <td>{{ item.type.label }}</td>
                                        <td>
                                            <a href="{{ path('world_item_view', {'id': item.id}) }}" title="Ansehen">{{ ux_icon('tabler:database-search') }}</a>
                                            <a href="{{ path('world_item_edit', {'id': item.id}) }}" title="Bearbeiten">{{ ux_icon('tabler:database-edit', {'color': 'var(--tblr-warning)'}) }}</a>
                                            <a href="{{ path('world_item_delete', {'id': item.id}) }}" title="Löschen" {{ stimulus_controller('confirm') }}>{{ ux_icon('tabler:database-minus', {'color': 'var(--tblr-danger)'}) }}</a>
                                        </td>
                                    </tr>

                                {% else %}

                                    <tr>
                                        <td colspan="3">Die Götter deiner Welt sind noch unentschlossen, hilf ihnen sie zu befüllen.</td>
                                    </tr>

                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
