{% extends 'layout.html.twig' %}

{% block page_title %}Einstellungen - Chatbot - Tuning{% endblock %}

{% block page_title_actions %}
    <div class="col-auto ms-auto d-print-none">
        <div class="btn-list">
            <a href="{{ path('settings_reset', {'section': 'chatbot_tuning'}) }}"
               class="btn d-none d-sm-inline-block"
               title="Einstellungen zurücksetzen"
               data-confirm
               data-icon-color="text-warning"
               data-confirm-message="Möchtest du deine Einstellungen wirklich zurücksetzen?"
               data-confirm-status-color="bg-warning"
               data-confirm-button-class="btn-warning"
            >
                {{ ux_icon('tabler:trash') }}Alle Einstellungen Zurücksetzen
            </a>
        </div>
    </div>
{% endblock %}

{% block page_content %}
    <div class="container-xl">
        {{ form_start(form) }}
            <div class="card">
                <div class="row g-0">
                    {% include 'settings/_includes/settings_nav.html.twig' %}
                    <div class="col-12 col-md-9 d-flex flex-column">
                        <div class="card-body">
                            <div class="alert alert-info">
                                <p>Diese Tuning-Einstellungen des Chatbot können für jedes Gespräch einzeln eingestellt
                                werden und dienen damit nur als Grundeinstellung für ein neues Gespräch. Änderungen
                                werden dabei nicht in bereits vorhandene Gespräche übernommen.</p>

                                <p>Solltest du herausfinden wollen welche Einstellungen am Besten funktionieren könnten
                                für dich, dann kannst du in den <a href="{{ path('settings', {'section': 'chatbot_functions'}) }}">
                                Funktionen</a> die Ausgabe der ausgeführten Funktionsaufrufe aktivieren und du bekommst
                                die Distanzen aus der Suche angezeigt, wenn Daten zu deiner Anfrage verarbeitet wurden.</p>
                            </div>

                            <div class="row g-5 pb-5">
                                <div class="col-6">
                                    {{ form_row(form.temperature) }}
                                </div>
                            </div>
                            <div class="row g-5 pb-5">
                                <div class="col-6">
                                    {{ form_row(form.documentsMaxDistance) }}
                                </div>
                                <div class="col-6">
                                    {{ form_row(form.imagesMaxDistance) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer mt-auto">
                    <div class="btn-list justify-content-end">
                        <button type="submit" class="btn btn-primary">Speichern</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
