{% extends 'layout.html.twig' %}

{% block page_title %}Einstellungen - Kalender - Allgemein{% endblock %}

{% block page_content %}

<div class="container-xl">
    {{ form_start(form) }}
    <div class="card">
        <div class="row g-0">
            {% include 'settings/_includes/settings_nav.html.twig' %}
            <div class="col-12 col-md-9 d-flex flex-column">
                <div class="card-body">

                    {{ form_errors(form) }}

                    <div class="row g-5 pb-5">
                        <div class="col-4">
                            {{ form_row(form.current_day.year) }}
                        </div>
                        <div class="col-4">
                            {{ form_row(form.current_day.month) }}
                        </div>
                        <div class="col-4">
                            {{ form_row(form.current_day.day) }}
                        </div>
                    </div>

                    {{ form_row(form.moonName) }}
                    {{ form_row(form.moonCycleDays) }}
                    {{ form_row(form.moonCycleOffset) }}

                </div>
            </div>
        </div>
        <div class="card-footer mt-auto">
            <div class="d-flex">
                <div class="ms-auto align-items-end">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-primary">{{ ux_icon('tabler:check') }}Speichern</button>
                        <a href="{{ path('settings_calendar_overview') }}" class="btn btn-outline-secondary">{{ ux_icon('tabler:cancel') }}Abbrechen</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
</div>

{% endblock %}
