{% extends 'layout.html.twig' %}

{% block page_title %}{{ conversation.title ?? 'Neues Gespräch' }}{% endblock %}

{% block page_title_actions %}
    <div class="col-auto ms-auto d-print-none">
        <div class="btn-list">
            <a type="button" class="btn d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#store-conversation-modal">
                {{ ux_icon('tabler:device-floppy') }}Speichern
            </a>
            <a href="{{ path('chat_reset') }}" type="button" class="btn btn-icon" {{ stimulus_controller('confirm') }}>
                {{ ux_icon('tabler:trash') }}
            </a>
        </div>
    </div>
{% endblock %}

{% block page_content %}
    {% set chatOptions = conversation is not empty ? {'conversation': conversation} : {} %}

    <div class="container-xl">
        {{ component('Chat:Chat', chatOptions) }}
    </div>

    {% component "Tabler:Modal" with {id: 'store-conversation-modal'} %}
        {% block modal_full_content %}
            {{ component('Chat:StoreConversation', chatOptions) }}
        {% endblock %}
    {% endcomponent %}
{% endblock %}
