<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
    <title>Der Chronicle Keeper - Rollenspiel Chatbot - Wissenbewahrer</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0/dist/css/tabler.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0/dist/css/tabler-vendors.min.css">

    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}

</head>
<body data-bs-theme="dark">
<twig:loader />

<div class="page">

    <header class="navbar navbar-expand-md navbar-dark d-print-none sticky-top">
        {% embed '_includes/navbar.html.twig' %}{% endembed %}
    </header>

    <div class="page-wrapper">
        {% block page_header %}
            <div class="page-header d-print-none">
                <div class="container-xl">
                    <div class="row g-2 align-items-center">
                        <div class="col">
                            <div class="page-pretitle">Chronicle Keeper</div>
                            <h2 class="page-title">{% block page_title %}{% endblock %}</h2>
                        </div>

                        {% block page_title_actions %}{% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}

        <div class="page-body">
            {% block alerts %}
                {% include '_includes/alerts.html.twig' %}
                {% include '_includes/flash-messages.html.twig' %}
                <twig:Notifications />
            {% endblock %}
            {% block page_content %}{% endblock %}

            {% set isFirstStart = settings_handler.get.application.hasOpenAIApiKey is same as false %}
            {% if not isFirstStart %}
                <twig:Favorizer:Offcanvas />
            {% endif %}
        </div>
    </div>

    {{ component('ConfirmDialog') }}

    <!-- Footer -->
    <footer class="footer footer-transparent d-print-none">
        <div class="container-xl">
            <div class="row text-center align-items-center flex-row-reverse">
                <div class="col-lg-auto ms-lg-auto">
                    <ul class="list-inline list-inline-dots mb-0">
                        <li class="list-inline-item"><a href="{{ path('changelog') }}" class="link-secondary" rel="noopener">Changelog</a></li>
                        <li class="list-inline-item"><a href="https://github.com/ChronicleKeeper/ChronicleKeeper" target="_blank" class="link-secondary" rel="noopener">Github</a></li>
                    </ul>
                </div>
                <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                    <ul class="list-inline list-inline-dots mb-0">
                        <li class="list-inline-item">
                            <strong>Chronicle Keeper - {{ version.currentVersion }}</strong> -
                            Made by <a href="https://github.com/DZunke" title="Denis Zunke Github Profile">Denis
                            Zunke</a> with <span class="text-red">❤</span> in Nikolassee
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>

<!-- Footer was outside in the beginning of this template ... was also fine :) -->

</body>
</html>
