{% extends 'layout.html.twig' %}

{% block page_title %}Einstellungen{% endblock %}

{% block page_title_actions %}
    <div class="col-auto ms-auto d-print-none">
        <div class="btn-list">
            <a href="{{ path('settings_reset') }}" class="btn d-none d-sm-inline-block">
                {{ ux_icon('tabler:trash') }}Zurücksetzen
            </a>
        </div>
    </div>
{% endblock %}

{% block page_content %}
    <div class="container-xl">
        <div class="card">
            <div class="row g-0">
                <div class="col-12 col-md-3 border-end">
                    <div class="card-body">
                        <h4 class="subheader">Chatbot</h4>
                        <div class="list-group list-group-transparent">
                            <a class="list-group-item list-group-item-action d-flex align-items-center active">Allgemein</a>
                        </div>
                        {# <h4 class="subheader mt-4">Bibliothek</h4>
                        <div class="list-group list-group-transparent">
                            <a class="list-group-item list-group-item-action">Import</a>
                            <a class="list-group-item list-group-item-action">Export</a>
                        </div> #}
                    </div>
                </div>
                <div class="col-12 col-md-9 d-flex flex-column">
                    <form action="{{ path('settings') }}" method="post">
                        <div class="card-body">
                            <div class="row g-5 pb-5">
                                <div class="col-6">
                                    <label for="current_date" class="form-label">Aktuelles Datum</label>
                                    <input type="text" class="form-control" name="current_date" value="{{ settings.currentDate }}" />
                                </div>
                                <div class="col-6">
                                    <label for="max_documents" class="form-label">Maximale Kontextdokumente</label>
                                    <input type="number" class="form-control" name="max_documents" value="{{ settings.maxDocumentResponses }}" />
                                </div>
                            </div>
                            <div class="row g-5 pb-5">
                                <div class="col-6">
                                    <label for="current_date" class="form-label">Name des Chatbot</label>
                                    <input type="text" class="form-control" name="chatbot_name" value="{{ settings.chatbotName }}" />
                                </div>
                                <div class="col-6">
                                    <label for="max_documents" class="form-label">Name des Benutzers</label>
                                    <input type="text" class="form-control" name="chatter_name" value="{{ settings.chatterName }}" />
                                </div>
                            </div>
                            <div class="row g-5">
                                <div class="col-12">
                                    <label for="system_prompt" class="form-label">System Prompt</label>
                                    <twig:markdownEditor name="system_prompt" content="{{ settings.systemPrompt }}" />
                                </div>
                            </div>
                        </div>
                        <div class="card-footer bg-transparent mt-auto">
                            <div class="btn-list justify-content-end">
                                <a href="{{ path('chat') }}" class="btn">Abbruch</a>
                                <button type="submit" class="btn btn-primary">Speichern</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
