<div {{ attributes }} class="d-inline">
    {% set exists = this.exists %}

    <a class="no-loader text-yellow{{ asButton ? ' btn btn-icon' }}{{ extraClasses ? ' ' ~ extraClasses }}"
       href="javascript:void(0)"
       title="{{ exists ? 'Von Favoriten entfernen' : 'Zu Favoriten hinzufügen' }}"
       {{ live_action('favorize') }}
    >
        <span class="spinner-border spinner-border-sm d-none" role="status" data-loading="removeClass(d-none)"></span>
        {{ exists ? ux_icon('tabler:star-filled', {'data-loading': 'addClass(d-none)'}) : ux_icon('tabler:star', {'data-loading': 'addClass(d-none)'}) }}
    </a>
</div>


