{% extends 'layout.html.twig' %}

{% block page_title %}{{ document.title }}{% endblock %}

{% block page_title_actions %}
    <div class="col-auto ms-auto d-print-none">
        <div class="btn-list">
            <twig:Favorizer:AddToShortcuts id="{{ document.id }}" type="{{ constant('class', document) }}" asButton="true" />
            <a type="button" class="btn btn-icon" title="Links in die Welt" data-bs-toggle="modal" data-bs-target="#show-world-links">
                {{ ux_icon('tabler:link') }}
            </a>
            <a href="{{ path('library_document_edit', {'document': document.id }) }}" class="btn btn-icon btn-warning">
                {{ ux_icon('tabler:file-pencil') }}
            </a>
            <a href="{{ path('library_document_delete', {'document': document.id }) }}"
               class="btn btn-icon btn-danger"
               title="Dokument löschen"
               data-confirm
               data-confirm-message="Möchtest du das Dokument wirklich löschen?"
            >
                {{ ux_icon('tabler:file-minus') }}
            </a>
        </div>
    </div>
{% endblock %}

{% block page_content %}
    <div class="container-xl">
        <div class="row row-deck row-cards">
            <div class="row-sm-12">
                <div class="card card-borderless">
                    <div class="card-body">
                        <twig:directoryBreadcrumb directory="{{ document.directory }}" extraLastNode="{{ document.title }}" />
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body markdown">{{ document.content|markdown_to_html }}</div>
                </div>
            </div>
        </div>
    </div>

    {% component "Tabler:Modal" with {id: 'show-world-links'} %}
        {% block modal_header %}Verlinkungen{% endblock %}
        {% block modal_body %}
            {{ component('World:ShowWorldLinks', { 'type': 'document', 'mediumId': document.id }) }}
        {% endblock %}
    {% endcomponent %}
{% endblock %}
