{% for message in messages|reverse %}

<div class="col-12">

    <div class="row row-cards">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ message.role }}</h3>
                    {% if message.extended.message.role.value is same as 'assistant' %}
                        <div class="card-actions btn-actions">
                            <a href="{{ path('library_document_create', {'chat_message': message.extended.id}) }}" title="Dokument erstellen" class="btn-action">
                                {{ ux_icon('tabler:file-plus') }}
                            </a>
                        </div>
                    {% endif %}
                </div>
                <div class="card-body">
                    <p>{{ message.message|markdown_to_html }}</p>

                    {% if settings_handler.get.chatbotFunctions.allowDebugOutput and message.extended.calledTools is not empty %}
                        <div class="hr-text text-warning">GPT Functions Debugging Ausgaben</div>
                        <div class="accordion" id="debug-tool-calls">
                            {% for index, call in message.extended.calledTools %}
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading-{{ index }}">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ index }}" aria-expanded="true">
                                            Aufgerufene Funktion: {{ call.tool }}
                                        </button>
                                    </h2>
                                    <div id="collapse-{{ index }}" class="accordion-collapse collapse" data-bs-parent="#debug-tool-calls" style="">
                                        <div class="accordion-body pt-0">
                                            <pre>{{ call.arguments|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</div>

{% set contextDocuments = message.extended.documents %}
{% set contextImages = message.extended.images %}

{% if (settings_handler.get.chatbotGeneral.showReferencedDocuments and contextDocuments is not empty) or (settings_handler.get.chatbotGeneral.showReferencedImages and contextImages is not empty) %}
    <div class="col-12">
        <div class="card">
            <div class="card-header border-0">
                <h3 class="card-title">Ausgewertete Informationen</h3>
            </div>
            <div class="card-body">
                <div class="row row-cards">
                    {% if contextDocuments is not empty %}
                        <div class="col-{{ contextImages is empty ? '12' : '6' }}">
                            <div class="card">
                                <div class="list-group list-group-flush">
                                    {% for document in message.extended.documents %}
                                        <a href="{{ path('library_document_view', {'document': document.id}) }}" class="list-group-item list-group-item-action">{{ document.directory.flattenHierarchyTitle }} > {{ document.title }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if contextImages is not empty %}
                        <div class="col-{{ contextDocuments is empty ? '12' : '6' }}">
                            <div class="row row-cols-{{ contextDocuments is empty ? '4' : '2' }} g-3">
                                {% for image in message.extended.images %}
                                    <div class="col">
                                        <a data-fslightbox="gallery" href="{{ path('library_image_view', {'image': image.id} )}}">
                                            <div class="img-responsive img-responsive-1x1 rounded border" style="background-image: url({{ image.imageUrl }})"></div>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endif %}



{% endfor %}
