<div class="col-auto ms-auto d-print-none">
    <div class="btn-list">
        <a href="{{ path('library_document_create', {'directory': currentDirectory.id }) }}" class="btn d-none d-sm-inline-block">
            {{ ux_icon('tabler:file-plus') }}Dokument Schreiben
        </a>
        <a href="{{ path('library_image_upload', {'directory': currentDirectory.id }) }}" class="btn d-none d-sm-inline-block">
            {{ ux_icon('tabler:photo-plus') }}Bild Hochladen
        </a>

        <div class="dropdown">
            <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown">
                {{ ux_icon('tabler:dots-vertical') }}Weitere Aktionen
            </button>
            <div class="dropdown-menu">
                <span class="dropdown-header">Dokumente</span>
                <a href="{{ path('library_document_upload', {'directory': currentDirectory.id }) }}" class="dropdown-item">
                    {{ ux_icon('tabler:file-upload', {'class': 'icon dropdown-item-icon icon-tabler'}) }}Hochladen
                </a>
                <span class="dropdown-header">Sonstiges</span>
                <a href="{{ path('library_directory_create', {'parentDirectory': currentDirectory.id }) }}" class="dropdown-item">
                    {{ ux_icon('tabler:folder-plus', {'class': 'icon dropdown-item-icon icon-tabler'}) }}Neues Verzeichnis
                </a>
                <!-- Please do not use the following functionality, it is obsolete. -->
                <!-- <a href="{{ path('update_search_index') }}" class="dropdown-item">
                    {{ ux_icon('tabler:reload', {'class': 'icon dropdown-item-icon icon-tabler'}) }}Chat Refresh
                </a> -->
            </div>
        </div>
    </div>
</div>
