{% extends 'layout.html.twig' %}

{% block page_title %}Verzeichnis "{{ directory.title }}" bearbeiten{% endblock %}

{% block page_content %}
    <div class="container-xl">
        <div class="row row-deck row-cards">
            <div class="row-sm-12">
                <div class="card card-borderless">
                    <div class="card-body">
                        <twig:directoryBreadcrumb directory="{{ directory }}" />
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="card">
                    <form action="{{ path('library_directory_edit', {'directory': directory.id}) }}" method="post">
                        <div class="card-body">
                            <div class="row g-5">
                                <div class="col-12">
                                    {{ form_label(form.title) }}
                                    {{ form_widget(form.title) }}
                                    {{ form_errors(form.title) }}
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-end">
                            <div class="d-flex">
                                <a href="{{ path('library', {'directory': directory.id}) }}" class="btn btn-link">Abbruch</a>
                                <button type="submit" class="btn btn-primary ms-auto">Speichern</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
