{% extends 'layout.html.twig' %}

{% block page_title %}Neues Verzeichnis{% endblock %}

{% block page_content %}
    <div class="container-xl">
        <div class="row row-deck row-cards">
            <div class="col-12">
                <div class="card card-borderless">
                    <div class="card-body">
                        <twig:directoryBreadcrumb directory="{{ parentDirectory }}" extraLastNode="Neues Verzeichnis" />
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="card">
                    <form action="{{ path('library_directory_create', {'parentDirectory': parentDirectory.id }) }}" method="post">
                        <div class="card-body">
                            <div class="row g-5">
                                <div class="col-12">
                                    {{ form_row(form.title) }}
                                    {{ form_row(form.parent) }}
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-end">
                            {{ component(
                                'Form:FotterButtonGroup',
                                {'cancelLink': path('library', {'directory': parentDirectory.id })}
                            ) }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
