{% extends 'layout.html.twig' %}

{% block page_title %}Dokument "{{ document.title }}" bearbeiten{% endblock %}

{% block page_content %}
<div class="container-xl">
    <div class="row row-deck row-cards">
        <div class="row-sm-12">
            <div class="card card-borderless">
                <div class="card-body">
                    <twig:directoryBreadcrumb directory="{{ document.directory }}" extraLastNode="{{ document.title }}" />
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="card">
                <form action="{{ path('library_document_edit', {'document': document.id}) }}" method="post">
                    <div class="card-body">
                        <div class="row g-5">
                            <div class="col-12">
                                <label for="title" class="form-label">Titel</label>
                                <input type="text" class="form-control" name="title" value="{{ document.title }}" />
                            </div>
                            <div class="col-12">
                                <label for="directory" class="form-label">Verschieben in Verzeichnis ...</label>
                                <twig:directorySelection name="directory" preSelected="{{ document.directory.id }}" />
                            </div>
                            <div class="col-12">
                                <label for="content" class="form-label">Inhalt</label>
                                <twig:markdownEditor rows="10" name="content" content="{{ document.content }}" />
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-end">
                        <div class="d-flex">
                            <a href="{{ path('library', {'directory': document.directory.id }) }}" class="btn btn-link">Abbruch</a>
                            <button type="submit" class="btn btn-primary ms-auto">Speichern</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
