{% extends 'layout.html.twig' %}

{% block page_title %}{{ image.title }}{% endblock %}

{% block page_title_actions %}
    <div class="col-auto ms-auto d-print-none">
        <div class="btn-list">
            <a href="{{ path('library_image_download', {'image': image.id }) }}" class="btn d-none d-sm-inline-block no-loader">
                {{ ux_icon('tabler:cloud-down') }}Download
            </a>
            <twig:Favorizer:AddToShortcuts id="{{ image.id }}" type="{{ constant('class', image) }}" asButton="true" />
            <a type="button" class="btn btn-icon" title="Links in die Welt" data-bs-toggle="modal" data-bs-target="#show-world-links">
                {{ ux_icon('tabler:link') }}
            </a>
            <a href="{{ path('library_image_edit', {'image': image.id }) }}" class="btn btn-icon btn-warning">
                {{ ux_icon('tabler:photo-edit') }}
            </a>
            <a href="{{ path('library_image_delete', {'image': image.id }) }}" class="btn btn-icon btn-danger" {{ stimulus_controller('confirm') }}>
                {{ ux_icon('tabler:photo-minus') }}
            </a>
        </div>
    </div>
{% endblock %}

{% block page_content %}
    <div class="container-xl">
        <div class="row row-deck row-cards">
            <div class="row-sm-12">
                <div class="card card-borderless">
                    <div class="card-body">
                        <twig:directoryBreadcrumb directory="{{ image.directory }}" extraLastNode="{{ image.title }}" />
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card">
                    <img src="{{ image.imageUrl }}" class="card-img-top" alt="{{ image.title }}">
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body markdown">{{ image.description|markdown_to_html }}</div>
                </div>
            </div>
        </div>
    </div>

    {% component "Tabler:Modal" with {id: 'show-world-links'} %}
        {% block modal_header %}Verlinkungen{% endblock %}
        {% block modal_body %}
            {{ component('World:ShowWorldLinks', { 'type': 'image', 'mediumId': image.id }) }}
        {% endblock %}
    {% endcomponent %}
{% endblock %}
