{% extends 'layout.html.twig' %}

{% block page_title %}Bibliothek{% endblock %}

{% block page_title_actions %}
    {% include 'library/_title_actions.html.twig' %}
{% endblock %}

{% block page_content %}

    <div class="container-xl">
        <div class="row row-deck row-cards">
            <div class="row-sm-12">
                <div class="card card-borderless">
                    <div class="card-body">
                        <twig:directoryBreadcrumb directory="{{ currentDirectory }}" />
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="card">
                    <div class="card-table table-responsive">
                        <table class="table table-vcenter">
                            <thead>
                            <tr>
                                <th>Titel</th>
                                <th>Größe</th>
                                <th>Aktualisiert</th>
                                <th class="w-8">&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% if currentDirectory.parent is not null %}
                                <tr>
                                    <td colspan="4">
                                        <a href="{{ path('library', {'directory': currentDirectory.parent.id }) }}">
                                            {{ ux_icon('tabler:folder-up') }} ...
                                        </a>
                                    </td>
                                </tr>
                            {% endif %}


                            {% for directory in directories %}
                                <tr>
                                    <td colspan="3">
                                        <a href="{{ path('library', {'directory': directory.id}) }}">
                                            {{ ux_icon('tabler:folder') }} {{ directory.title }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ path('library_directory_edit', {'directory': directory.id}) }}" title="Verzeichnis bearbeiten">{{ ux_icon('tabler:folder-cog') }}</a>
                                    </td>
                                </tr>
                            {% endfor %}

                            {% if media is empty %}
                                <tr><td colspan="4">Es wurden noch keine Dateien geladen.</td></tr>
                            {% endif %}

                            {% for medium in media %}
                                {% include 'library/_rows.html.twig' with { medium } %}
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
