{% extends 'layout.html.twig' %}

{% block page_title %}Bibliothek{% endblock %}

{% block page_title_actions %}
    <div class="col-auto ms-auto d-print-none">
        <div class="btn-list">
            <a href="{{ path('update_search_index') }}" class="btn d-none d-sm-inline-block">
                {{ ux_icon('tabler:reload') }}Aktualisiere Suchindex
            </a>
            <a href="{{ path('library_document_create', {'directory': currentDirectory.id }) }}" class="btn btn-primary d-none d-sm-inline-block">
                {{ ux_icon('tabler:file-plus') }}Neues Dokument
            </a>
            <a href="{{ path('library_directory_create', {'parentDirectory': currentDirectory.id }) }}" class="btn btn-primary d-none d-sm-inline-block">
                {{ ux_icon('tabler:folder-plus') }}Neues Verzeichnis
            </a>
        </div>
    </div>
{% endblock %}

{% block page_content %}

    <div class="container-xl">
        <div class="row row-deck row-cards">
            <div class="row-sm-12">
                <div class="card card-borderless">
                    <div class="card-body">
                        <twig:directoryBreadcrumb directory="{{ currentDirectory }}" />
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="card">
                    <div class="card-table table-responsive">
                        <table class="table table-vcenter">
                            <thead>
                            <tr>
                                <th>Titel</th>
                                <th>Größe</th>
                                <th>Aktualisiert</th>
                                <th class="w-8">&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% if currentDirectory.parent is not null %}
                                <tr>
                                    <td colspan="4">
                                        <a href="{{ path('library', {'directory': currentDirectory.parent.id }) }}">
                                            {{ ux_icon('tabler:folder-up') }} ...
                                        </a>
                                    </td>
                                </tr>
                            {% endif %}


                            {% for directory in directories %}
                                <tr>
                                    <td colspan="3">
                                        <a href="{{ path('library', {'directory': directory.id}) }}">
                                            {{ ux_icon('tabler:folder') }} {{ directory.title }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ path('library_directory_edit', {'directory': directory.id}) }}" title="Verzeichnis bearbeiten">{{ ux_icon('tabler:folder-cog') }}</a>
                                    </td>
                                </tr>
                            {% endfor %}

                            {% for document in documents %}
                                <tr>
                                    <td>{{ ux_icon('tabler:file') }} {{ document.title }}</td>
                                    <td class="text-secondary">{{ document.size|readable_filesize }}</td>
                                    <td class="text-secondary">{{ document.updatedAt|date('d.m.Y H:i:s') }}</td>
                                    <td>
                                        <a href="{{ path('library_document_view', {'document': document.id}) }}" title="Ansehen">{{ ux_icon('tabler:file-text') }}</a>
                                        <a href="{{ path('library_document_edit', {'document': document.id}) }}" title="Bearbeiten">{{ ux_icon('tabler:file-pencil') }}</a>
                                        <a href="{{ path('library_document_delete', {'document': document.id}) }}" title="Löschen" {{ stimulus_controller('confirm') }}>{{ ux_icon('tabler:file-x') }}</a>
                                    </td>
                                </tr>

                            {% else %}
                                <tr>
                                    <td colspan="4">Es wurden noch keine Dateien geladen.</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
