{% extends 'layout.html.twig' %}

{% block page_title %}Bibliothek{% endblock %}

{% block page_title_actions %}
    <div class="col-auto ms-auto d-print-none">
        <div class="btn-list">
            <a href="{{ path('library_document_create', {'directory': currentDirectory.id }) }}" class="btn d-none d-sm-inline-block">
                {{ ux_icon('tabler:file-plus') }}Dokument Schreiben
            </a>
            <a href="{{ path('library_image_upload', {'directory': currentDirectory.id }) }}" class="btn d-none d-sm-inline-block">
                {{ ux_icon('tabler:photo-plus') }}Bild Hochladen
            </a>

            <div class="dropdown">
                <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown">
                    {{ ux_icon('tabler:dots-vertical') }}Weitere Aktionen
                </button>
                <div class="dropdown-menu">
                    <span class="dropdown-header">Dokumente</span>
                    <a href="{{ path('library_document_upload', {'directory': currentDirectory.id }) }}" class="dropdown-item">
                        {{ ux_icon('tabler:file-upload', {'class': 'icon dropdown-item-icon icon-tabler'}) }}Hochladen
                    </a>
                    <span class="dropdown-header">Sonstiges</span>
                    <a href="{{ path('library_directory_create', {'parentDirectory': currentDirectory.id }) }}" class="dropdown-item">
                        {{ ux_icon('tabler:folder-plus', {'class': 'icon dropdown-item-icon icon-tabler'}) }}Neues Verzeichnis
                    </a>
                    <a href="{{ path('update_search_index') }}" class="dropdown-item">
                        {{ ux_icon('tabler:reload', {'class': 'icon dropdown-item-icon icon-tabler'}) }}Chat Refresh
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_content %}

    <div class="container-xl">
        <div class="row row-deck row-cards">
            <div class="row-sm-12">
                <div class="card card-borderless">
                    <div class="card-body">
                        <twig:directoryBreadcrumb directory="{{ currentDirectory }}" />
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="card">
                    <div class="card-table table-responsive">
                        <table class="table table-vcenter">
                            <thead>
                            <tr>
                                <th>Titel</th>
                                <th>Größe</th>
                                <th>Aktualisiert</th>
                                <th class="w-8">&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% if currentDirectory.parent is not null %}
                                <tr>
                                    <td colspan="4">
                                        <a href="{{ path('library', {'directory': currentDirectory.parent.id }) }}">
                                            {{ ux_icon('tabler:folder-up') }} ...
                                        </a>
                                    </td>
                                </tr>
                            {% endif %}


                            {% for directory in directories %}
                                <tr>
                                    <td colspan="3">
                                        <a href="{{ path('library', {'directory': directory.id}) }}">
                                            {{ ux_icon('tabler:folder') }} {{ directory.title }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ path('library_directory_edit', {'directory': directory.id}) }}" title="Verzeichnis bearbeiten">{{ ux_icon('tabler:folder-cog') }}</a>
                                    </td>
                                </tr>
                            {% endfor %}

                            {% if media is empty %}
                                <tr><td colspan="4">Es wurden noch keine Dateien geladen.</td></tr>
                            {% endif %}

                            {% for medium in media %}
                                <tr>
                                    <td>{{ medium is document ? ux_icon('tabler:file') : ux_icon('tabler:photo') }} {{ medium.title }}</td>
                                    <td class="text-secondary">{{ medium.size|readable_filesize }}</td>
                                    <td class="text-secondary">{{ medium.updatedAt|date('d.m.Y H:i:s') }}</td>
                                    {% if medium is document %}
                                        <td>
                                            <a href="{{ path('library_document_view', {'document': medium.id}) }}" title="Ansehen">{{ ux_icon('tabler:file-text') }}</a>
                                            <a href="{{ path('library_document_edit', {'document': medium.id}) }}" title="Bearbeiten">{{ ux_icon('tabler:file-pencil', {'color': 'var(--tblr-warning)'}) }}</a>
                                            <a href="{{ path('library_document_delete', {'document': medium.id}) }}" title="Löschen" {{ stimulus_controller('confirm') }}>{{ ux_icon('tabler:file-x', {'color': 'var(--tblr-danger)'}) }}</a>
                                        </td>
                                    {% else %}
                                        <td>
                                            <a href="{{ path('library_image_view', {'image': medium.id}) }}" title="Ansehen">{{ ux_icon('tabler:photo-search') }}</a>
                                            <a href="{{ path('library_image_edit', {'image': medium.id}) }}" title="Bearbeiten">{{ ux_icon('tabler:photo-edit', {'color': 'var(--tblr-warning)'}) }}</a>
                                            <a href="{{ path('library_image_delete', {'image': medium.id}) }}" title="Löschen" {{ stimulus_controller('confirm') }}>{{ ux_icon('tabler:photo-minus', {'color': 'var(--tblr-danger)'}) }}</a>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
